{% extends "base.html" %}

{% block desc %}
    <div style="font-family: Calibri">
        <h1>Please specify who you are ?</h1>
        <center>
            <a href="../../showroom/customer/"><button style="width: 300px;margin: 30px; height: 50px;font-size:x-large; border-color: black;">Customer</button></a>
            <a href="../../showroom/staff/"><button style="width: 300px;margin: 30px;height: 50px;font-size:x-large; border-color: black;">Staff</button></a>
            <a href="../../showroom/admin/"><button style="width: 300px;margin: 30px;height: 50px;font-size:x-large; border-color: black;">Admin</button></a>
        </center>
    </div>
        
    
    



{% endblock %}